@CHARSET "UTF-8";

#button{
	margin: 10px;
}

#button_wylogowanie{
	margin-left:450px;
}

#data{
	margin: 10px;
	align:left;
}

#czas{
	margin: 10px;
	align:left;
}

#login{
	/* margin-left: 670px; */
	margin-left: auto;
	margin-right: 20px;
}

#panel_gorny{
	background-color: #dedef8;
	border: 2px solid orange;
	width: 970px;
	height:70;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

#tresc_strony{
	background-color: #dedef8;
	border: 2px solid orange;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.obrazek{
	margin: 20px;
	margin-right: 20px;
	margin-top: 20px;
	width: 220px;
	height: 170px;
}

.obrazek_glowna{
	margin: 20px;
	margin-right: 20px;
	margin-top: 30px;
	width: 600px;
	height: 400px;
	padding: 2px;
   	border: 2px solid #021a40;	
}

#textI{
	margin: 10px;
}

#textN{
	margin: 10px;
}

#textL{
	margin: 10px;
}

#textH{
	margin: 10px;
}

#textH2{
	margin: 10px;
}


